{%extends "base.html"%}
{% block start %}
<h1>THis is index page</h1>

<a href="/contact/">
    Contact
</a>

<a href="/about/">
    About
</a>
<table>
<tr>
  <th>S.No</th>
  <th>Name</th>
  <th>Age</th>
  <th>Can Vote?</th>
</tr>

{% for people in peoples %}
<tr>
  <td>{{forloop.counter}}</td>
  <td>{{people.name}}</td>
  <td>{{people.age}}</td>
  <td>
    {% if people.age >= 18%}
    👍
    {% else %}
    👎
    {% endif %}
  </td>
</tr>
{% endfor %}


</table> 

<p>
{% if "cucumber" in vegetables %}
Yes Available
{%elif "Tomato" in vegetables %}
Tomato Avaiable
{%else%}
Not Availabe

{%endif%}
</p>


{% endblock %}